/* Custom Scrollbars */
/* width */
::-webkit-scrollbar, ::-webkit-scrollbar-corner {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  //background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 7px;
  @apply bg-digicomm-700/50
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-digicomm-700/100
}